*.pyc
.vscode
*.so
*.o
output
build
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info/*
submodules/diff-gaussian-rasterization/dist/*
submodules/simple-knn/dist/*
submodules/simple-knn/simple_knn.egg-info/*
tensorboard_3d
screenshots
data
wandb